<% 
	@menu_lateral = [ "#{link_to 'Criar', new_patrimonio_path}", "#{link_to 'Consultar', patrimonios_path}"]
%>

<div class='topo'>
	<p class='icone'><%= image_tag("arq_32.png") %></p>
	<p class='titulo'>Editar Patrimonio</p>
</div>
<%= render :partial => 'form', :locals => { :patrimonio => @patrimonio } %>